.user-msg {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: var(--gray3);
    padding: 0.5em 1em;
    position: fixed;
    bottom: 2em;
    right: 1em;
    max-width: 300px;
    color: white;
    border-radius: 4px;
    font-size: 0.95em;
}

.user-msg.success {
    background-color: var(--gray3);
}

.user-msg.error {
    background-color: var(--gray3);
}

.user-msg button {
    font-size: 0.85em;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}