:root {
    --clr1: #F8DBD8;
    --clr2: #FAAED2;



    --clr1bg: #df5d9a;
    --clr1bg-light: #c1f1e1;
    --clr2bg: #F8CE5B;
    --clr2bg-light: #fff7e8;
    --clr3bg: #f7c3db;



    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);


}